$mapFontSize: 5rem;
$mapPadding: 3rem;
$fieldSize: 50px;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1176px;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    transition: display .3s;

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        font-size: 1.6rem;
        z-index: 2;
        padding: 0 .4rem;

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__rules {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &__name {
                font-size: 2rem;
                font-weight: bold;
                padding: 2rem 0;
                text-align: center;
            }

            &__weapon {
                padding: 2rem 0;

                &__button {
                    margin-left: 2rem;
                    padding: .5rem 2rem;
                    cursor: pointer;
                    background-color: #0093E9;
                    border: 1px solid black;
                    transition: transform .3s;

                    &--x {
                        background-color: transparent;
                    }
                }


                &__button:hover {
                    transform: scale(1.1);
                }
            }

            &__start {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                width: 100%;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color .3s;
            }

            &__start--disabled {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                width: 100%;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 8px;
                cursor: default;
            }

            &__start:hover {
                background-color: #0093E9;
            }
        }


    }

    &__map {
        display: block;
        font-size: $mapFontSize;
        transform: rotate(45deg);
        opacity: .2;
        // margin-top: 2rem;


        &__column {
            display: flex;
            flex-direction: row;

            &__row {
                padding: $mapPadding;
                cursor: default;

                &__field {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: $fieldSize;
                    height: $fieldSize;
                    opacity: 0;
                    transition: opacity .6s;
                }

            }

            &__rows__used {
                padding: $mapPadding;
                cursor: default;
                transition: background-color .3s;

                &__fields__used {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: $fieldSize;
                    height: $fieldSize;
                    opacity: 1;
                    transition: opacity .6s;
                }
            }



        }

        &__column--one,
        &__column--two {
            &__row {

                &--first,
                &--second {
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;

                }

                &--third {
                    border-bottom: 2px solid black;
                }
            }
        }

        &__column--three {
            &__row {

                &--first,
                &--second {
                    border-right: 2px solid black;
                }
            }
        }

    }

    &__end {
        display: none;
        height: 335px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        text-align: center;

        &__result {
            padding-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold;
        }

        &__text {
            margin: 0 .5rem;
        }
    }

    .row__active {
        cursor: pointer;
        transition: background-color .3s;
    }

    .row__active:hover {
        background-color: #0093E9;
    }

    .map__active {
        animation: rotateMap .6s forwards .3s;

    }

    @keyframes rotateMap {
        from {
            transform: rotate(45deg);
            opacity: .3;
        }

        to {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

}

@media (max-width: 300px) {
    .game__menu {

        font-size: 1.2rem;

        &__about {

            &__rules {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &__name {
                font-size: 1.6rem;
                font-weight: bold;
                padding: 2rem 0;
                text-align: center;
            }

            &__weapon {
                padding: 2rem 0;

                &__button {
                    margin-left: 1rem;
                    padding: .3rem 1.2rem;


                    &--x {
                        background-color: transparent;
                    }
                }


                &__button:hover {
                    transform: scale(1.1);
                }
            }

        }
    }

    .game__map {

        &__column {
            &__row {
                &__field {
                    width: 30px;
                    height: 30px;
                }
            }

            &__rows__used {
                padding: $mapPadding;

                &__fields__used {
                    width: 30px;
                    height: 30px;

                }
            }

        }
    }
}